<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/css/adminNav.css">
</head>
<body>
    <div class="Admin-main">
        <div class="row">
            <%- include('adminNav') %>

            <!-- Main Content -->
            <div class="w-80 content admin-wel" id="mainContent">
                <img src="/img/welcome.gif" alt="" class="welcom-gif">
                <h1 class="text-white">Welcome to the Admin Panel</h1>
            </div>
        </div>
    </div>
</body>
</html>
