<!-- Sidebar -->
<div class="w-20 sidebar">
    <h2 class="text-center">Admin Panel</h2>
    <ul>
        <li><a href="/product/productpage" id="productLink">Product</a></li>
        <li><a href="/user/userlist" id="userListLink">User List</a></li>
        <li><a href="/product/getuser" id="getUserLink"><i class="fa-solid fa-user"></i> Get User</a></li>
    </ul>
</div>