<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="/css/adminNav.css">
</head>
<body>
    <%- include('adminNav') %>
<div class="content height-100vh">
  <h1 class="text-white">Edit Account Type</h1>
  <form action="/product/updatebanner" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="<%= banners._id %>">
    
    <% if (banners.img) { %>
      <div>
        <img id="editPackageImagePreview" src="/images/<%= banners.img %>" alt="Icon Preview" class="as-img-preview">
      </div>
    <% } %>
    
    <div class="as-form-group">
      <label for="img" >Upload Image</label><br>
      <input type="file" name="img" accept="image/*">
    </div>

    <button type="submit" class="banner-add-button">Update</button>
    <button class="banner-cancle"><a href="/product/getbanner" class="text-white">Cancel</a></button>
  </form>
</div>

</body>
</html>
