<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

</head>

<body>
    <%- include('nav') %>
        <div>
            <a href="#" class="backtotop">
                <i class="fa-solid fa-arrow-up"></i>
            </a>
        </div>
        <section>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <img src="/img/slider-3.jpg" alt="">
                            <div class="overlay">
                            </div>
                            <div class="banner-content">
                                <h2 class="open">Be smart with a <br><span>Smartwatch</span></h2>
                                <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                                <div class="shopbtn">
                                    <button><a href="/product/shop">SHOP NOW</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <img src="/img/slider-2.jpg" alt="">
                            <div class="overlay">
                            </div>
                            <div class="banner-content">
                                <h2 class="open">The laptop with<br><span>Personality</span></h2>
                                <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                                <div class="shopbtn">
                                    <button><a href="/product/shop">SHOP NOW</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-img">
                            <img src="/img/slider-1.jpg" alt="">
                            <div class="overlay">
                            </div>
                            <div class="banner-content">
                                <h2 class="open">World first green<br><span>Earbud</span></h2>
                                <!-- <p class="open p-open">Delivering great items for more than 22 years!</p> -->
                                <div class="shopbtn">
                                    <button><a href="/product/shop">SHOP NOW</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>


        </section>

        <%- include('footer') %>
</body>

</html>