<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>header</title>
  <link rel="stylesheet" href="/all.min.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  <header>
    <div class="container">
      <nav class="header-nav">
        <ul class="row2 align-item-center justify-between">
          <div class="header-image">
            <a href="/product/home"><img src="/img/actopass_logo.png" alt=""></a>
          </div>
          <li><a href="/product/home"><i class="fa-solid fa-house pr-5"></i> Home</a></li>
          <li><a href="/product/shop"><i class="fa-brands fa-safari pr-5"></i> Explore</a></li>
          <li><a href=""><i class="fa-solid fa-circle-info pr-5"></i> About Us</a></li>
          <li><a href="/user/signup"><i class="fa-solid fa-user pr-5"></i> Singup</a></li>
          <li><a href="/product/cart"><i class="fa-solid fa-bag-shopping pr-5"></i> Cart</a></li>
          <li><a href="/user/logout" onclick="confirmLogout()"><i class="fa-solid fa-user-minus pr-5"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>
</body>
<!-- logout js -->
<script>
  function confirmLogout() {
    const userConfirmed = confirm("Are you sure you want to logout?");
    if (userConfirmed) {
      window.location.href = "/user/logout";
    } else {
      return false;
    }
  }
</script>

</html>