<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Offer Edit</title>
  <link rel="stylesheet" href="/css/adminNav.css">
</head>
<body>
    <%- include('adminNav') %>
<div class="content height-100vh">
  <h1 class="text-white">Edit Banner</h1>
  <form action="/product/updateoffer" method="post" enctype="multipart/form-data">
    <input type="hidden" name="_id" value="<%= offers._id %>">
    
    <label>Existing Image:</label><br>
    <% if (offers.img) { %>
        <img id="offerpreview" src="/images/<%= offers.img %>" alt="Event Image" style="width: 200px; height: auto;"><br>
    <% } else { %>
        <img id="offerpreview" src="" alt="No Image" style="width: 200px; height: auto; display: none;"><br>
    <% } %>
    
    <div class="as-form-group">
      <label for="img" >Upload Image</label><br>
      <input type="file" id="offerInput" name="img" accept="image/*">
    </div>

    <button type="submit" class="banner-add-button">Update</button>
    <button class="banner-cancle"><a href="/product/getoffer" class="text-white">Cancel</a></button>
  </form>
</div>

</body>
<script>
   document.getElementById('offerInput').addEventListener('change', function (event) {
        const file = event.target.files[0];
        const preview = document.getElementById('offerpreview');
        
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        } else {
            preview.style.display = 'none';
        }
    });
  </script>
</html>
