<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Products</title>
  <link rel="stylesheet" href="/css/adminNav.css">
  <link rel="stylesheet" href="/css/yourProducts.css">
</head>

<body>
  <div class="admin-container">
    <%- include('adminNav') %>

    <div class="admin-content">
      <h1>Your Products:</h1>
      <div id="product-box"></div>
    </div>
  </div>

  <%- include('footer') %>
</body>

<script>
  const display = (data) => {
    document.getElementById("product-box").innerHTML = "";
    data.map((ele) => {
      let img = document.createElement("img");
      img.src = ele.img;
      img.className = "product-img";

      let title = document.createElement("h3");
      title.className = "product-title";
      title.innerHTML = ele.title;

      let price = document.createElement("h4");
      price.className = "product-price";
      // price.innerHTML = `$ ${ele.price}`; 

      // Edit Button
      let editBtn = document.createElement("button");
      editBtn.className = "edit-btn";
      editBtn.innerHTML = "Edit";
      editBtn.onclick = () => window.location.href = `/product/edit/${ele._id}`;

      //DELETE BUTTON 
      let deleteBtn = document.createElement("button");
      deleteBtn.className = "delete-btn";
      deleteBtn.innerHTML = "Delete";
      deleteBtn.onclick = () => deleteProduct(ele._id);

      let div = document.createElement("div");
      div.className = "product-card";
      div.append(img, title, price, editBtn, deleteBtn);
      document.getElementById("product-box").append(div);
    });
  };

  const deleteProduct = (productId) => {
    fetch(`/product/delete/${productId}`, { method: "DELETE" })
      .then((res) => res.json())
      .then(() => get())
      .catch((err) => console.log(err));
  };

  const get = () => {
    fetch(`/product/admin`)
      .then((res) => res.json())
      .then((data) => display(data))
      .catch((err) => console.log(err));
  };

  get();
</script>

</html>
